div { width: 45%;
		}

p {
   color: #4B0082;
  font-size: 50px;
   font-family: Mali, cursive;
   text-align: center;
}
body{
background-image: url(77.jpg);
background-position: center;
}